include *.md
recursive-include macast .version
recursive-include macast/xml *.xml
include macast/xml/settings_rtx.html
recursive-include macast/xml *.csv
recursive-include macast/scripts *.lua
recursive-include macast/assets *.png
recursive-include macast/assets *.icns
recursive-include macast/assets *.ico
include macast/assets/settings.js
include macast/assets/settings.css
